<header>
    <nav>
        <div class="logo"><a href="https://dragon-maps.web.app/">DragonMaps</a></div>
        <ul>
            <li><a href="https://dragon-maps.web.app/">Home</a></li>
            <li><a href="https://dragon-maps.web.app/pages/designer">Designer</a></li>
            <li><a href="https://dragon-maps.web.app/pages/gallery">Gallery</a></li>
            <li><a href="https://dragon-maps.web.app/pages/tutorials">Tutorials</a></li>
            <li><a href="https://dragon-maps.web.app/pages/updates">Updates</a></li>
            <li><a href="https://dragon-maps.web.app/pages/contact">Contact</a></li>
        </ul>
    </nav>
</header>